[Desktop Entry]
Icon=text-html
Name=https://github.com/KDE/krunner/blob/master/src/data/org.kde.krunner1.xml
Type=Link
URL[$e]=https://github.com/KDE/krunner/blob/master/src/data/org.kde.krunner1.xml
