[Desktop Entry]
Icon=text-html
Name=https://secretstorage.readthedocs.io/en/latest/
Type=Link
URL[$e]=https://secretstorage.readthedocs.io/en/latest/
