[Desktop Entry]
Version=1.0
Type=Application
Name=Runner
Comment=Autostart entry for Krunner Secret Service plugin
Keywords=Runner;Krunner
Categories=Utilities
Path=LOCATION
Exec=LOCATION/mi_krunner_bwcli.py
Icon=changes-allow-symbolic
StartupNotify=false
