[Desktop Entry]
Version=1.0
Type=Application
Name=Runner
Comment=Autostart entry for Krunner Secret Service plugin
Keywords=Runner;Krunner
Categories=Utilities
Path=$HOME/.local/share/krunner/plugin/miSecretService/
Exec=$HOME/.local/share/krunner/plugin/miSecretService/miSecretService.py
Icon=changes-allow-symbolic
StartupNotify=false
