[Desktop Entry]
Name=Secret Service
Comment=Lookup and copy passwords to clipboard from any secretservice enabled password manager
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=changes-allow-symbolic
X-KDE-PluginInfo-Author=Martin Insulander
X-KDE-PluginInfo-Email=martin+projekt@insulander.info
X-KDE-PluginInfo-Name=mi_secretservice_krunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=mi.secretservice.krunner
X-Plasma-DBusRunner-Path=/mi/secretservice/krunner